<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
    <head>
        <script src="../../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>        
    </head>
    <body>
        <a href="./list.html" th:href="@{/member/list}">List</a>
        <a href="./delete.html" th:href="@{/member/delete}">delete</a>
        <a href="./edit.html" th:href="@{/member/edit}">edit</a>
        <a href="./view.html" th:href="@{/member/view}">view</a>
        <a href="./login.html" th:href="@{/member/login}">login</a>
        <a href="./logout.html" th:href="@{/member/logout}">logout</a>
        <a href="./signup.html" th:href="@{/member/signup}">signup</a>
    </body>
</html>